/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos específicos de secciones (puedes personalizarlos según tus necesidades) */
#inicio {
    /* Estilos para la sección de inicio */
}

#cocina {
    /* Estilos para la sección de cocina */
}

#bano {
    /* Estilos para la sección de baño */
}

#camas {
    /* Estilos para la sección de camas */
}

#muebles {
    /* Estilos para la sección de muebles */
}

#iluminacion {
    /* Estilos para la sección de iluminación */
}

#contactenos {
    /* Estilos para la sección de contáctenos */
}

#empresa {
    /* Estilos para la sección de empresa */
}

/* Estilos del formulario de clientes y productos */
form {
    /* Estilos del formulario */
}