styles.css

/* Estilos generales */
body {
    background-color: #444;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos específicos de secciones (puedes personalizarlos según tus necesidades) */
#inicio {
    /* Estilos para la sección de inicio */
}

#cocina {
    /* Estilos para la sección de cocina */
    border: 2px solid #444;
    padding: 10px;
    margin: 10px;
    background-color: #3773a5;
}
#cocina.img{
    max-width: 100;/*hace que la imagen sea responsive max-width: 100%*/
    height: 200px;/*mantener la proporción*/
    margin-bottom: 30px;/*añade una margen inferrior entre la imagen y el texto*/
}

#baño {
    /* Estilos para la sección de baño */
    border: 2px solid #444;
    padding: 10px;
    margin: 10px;
    background-color: #505355;
}

#camas {
    /* Estilos para la sección de camas */
    border: 2px solid #444;
    padding: 10px;
    margin: 10px;
    background-color: #6b8828;
}

#muebles {
    /* Estilos para la sección de muebles */
    border: 2px solid #444;
    padding: 10px;
    margin: 10px;
    background-color: #3773a5;
}

#iluminacion {
    /* Estilos para la sección de iluminación */
    border: 2px solid #444;
    padding: 10px;
    margin: 10px;
    background-color: #505355;
}

#contactenos {
    /* Estilos para la sección de contáctenos */
    border: 2px solid #444;
    padding: 10px;
    margin: 10px;
    background-color: #6b8828;
}

#menu {
    /* Estilos para la sección de empresa */
}

/* Estilos del formulario de clientes y productos */
form {
    /* Estilos del formulario */
}
